parameters:
    level: 9
    paths:
        - src
        - config
    tmpDir: .phpstan.cache
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - src/Actions/Anonymization/Strategies/FakerStrategy.php
